body {
    background-color: lightblue;
}

#contenedor {
    width: 600px;
    height: 500px;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    /* background-color: blueviolet; */        
    
}

#tabla_de_cortes tbody {    
    background-color: gray;
}

#tabla_de_cortes thead {
    height: 80px;
    background-color: white
}

#tabla_de_cortes td {
    height: 50px;
}

#cortes {
    width: 400px;
}

.indiceInflacion {
    width: 100px;
}