body {
    background-color: lightblue;
}

#contenedor {
    width: 600px;
    height: 500px;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    /* background-color: blueviolet; */        
    
}

.cajaTitulo {    
    width: 98%;
    height: 100px;
    border: 0px 0px 0px 0px;
    border-color: blue;
    border-style: solid;    
    display: block;
    align-items: center;
}

.hijoContenedor {
    width: 50px;
    height: 50px;    
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}

#tabla_de_cortes {
    border-width: 1px;
    border-style: solid;
    border-color: black;    
    width: 100%;
}

#tabla_de_cortes tbody {    
    background-color: gray;
}

#tabla_de_cortes thead {
    height: 80px;
    background-color: white
}

#tabla_de_cortes td {
    height: 50px;
}

#cortes {
    width: 400px;
}